.student-image{
    max-width:200px;
    max-height: 200px; 
    border-radius: 50%;
    border: 2px solid #ff4081 ;
}
.table{
    width: 100%;
    border:.5px solid #e2e2e2
}
.table tr td{
padding: 10px 50px;
}