<mat-toolbar color="accent">
    <a
    routerLink="/"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu_book</mat-icon>
    </a>
   <span>Eschool</span>
   <span class="example-spacer"></span>
   <!-- <a 
   routerLink="/login"
   mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <h5>Login</h5>
     <mat-icon>login</mat-icon> 
   </a>
                                                             
   <a 
   routerLink="/signup"
   mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon">
   <h5>Register</h5> 
     <mat-icon>login</mat-icon> 
   </a>  -->

   
   
 </mat-toolbar>